<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luocaca.rxretrofit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission android:name="intent" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BookListActivity" />
        <activity android:name=".ui.BookListActivity1" />
        <activity android:name=".ui.BookOneDetail" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity android:name=".ui.VideoListActivity" />
        <activity android:name=".ui.PageJsoupActivity" />
        <activity android:name=".ui.PageJsoupActivity_bak" />
        <activity android:name=".ui.TTLActivity" />
        <activity android:name=".ui.maomi.MaoMiActivity" />
        <activity android:name=".ui.maomi.MaoMiItemActivity" />
        <activity android:name=".ui.maomi.MaoMiiImagesActivity" />
        <activity android:name=".ui.maomi.MaoMiItemTypeActivity" />
        <activity android:name=".ui.ShowVideoActivity" />
        <activity android:name=".ui.TTLTypeListActivity" />
        <activity
            android:name=".ui.TTLVideoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation" />
        <activity
            android:name=".ui.viewbigimage.ViewBigImageActivity"
            android:theme="@style/full" />


        <meta-data
            android:name="luocaca.rxretrofit.config.GlideCache"
            android:value="GlideModule" />
    </application>


</manifest>